html {
  margin: 0;
  padding: 0;
  background-image: url("../Images/wallpapersden.com_blue-background-geometric-abstract_1920x1080.jpg"); }

#main-container {
  margin-left: 15%;
  height: 600px;
  width: 900px;
  background-color: #e6e6e6;
  border: 1px solid #c4c4c4;
  border-radius: 10px; }

#data-input {
  margin-top: 2%;
  width: 98%;
  margin-left: 9px;
  height: 20%;
  border: 1px solid #4da6ff;
  border-radius: 5px;
  background-color: #fff; }

.numbers-buttons {
  margin-top: 5%;
  margin-left: 5%;
  display: flex;
  flex-wrap: wrap;
  width: 400px; }

.btn-number {
  background-color: #0099ff;
  border: none;
  padding: 10px;
  width: 100px;
  height: 80px;
  border-radius: 3px;
  color: #fff;
  font-size: 2rem;
  margin-left: 10px;
  margin-bottom: 10px; }

.btn-number:hover {
  font-size: 2.1rem;
  -webkit-box-shadow: 0px -1px 26px -5px #453fe3;
  -moz-box-shadow: 0px -1px 26px -5px #453fe3;
  box-shadow: 0px -1px 26px -5px #453fe3; }

.operations-buttons {
  margin-top: 10%;
  width: 150px;
  border-radius: 5px; }

.btn-operation {
  border: none;
  height: 70px;
  width: 70px;
  margin-top: 10px;
  font-size: 2rem;
  background-color: #00b3b3;
  border-radius: 10px; }

.buttons-container {
  display: flex; }

.btn-operation:hover {
  -webkit-box-shadow: 0px -1px 36px 9px #34dbcd;
  -moz-box-shadow: 0px -1px 36px 9px #34dbcd;
  box-shadow: 0px -1px 36px 9px #34dbcd; }

.last-input {
  color: #909090;
  font-size: 1.3rem; }

.first-input {
  font-size: 2.1rem; }

.btn-operation:last-of-type {
  width: 150px; }

.big-btn {
  width: 150px; }

.bg-red {
  background-color: red; }

.bg-red:hover {
  -webkit-box-shadow: -1px -1px 41px -5px #e81515;
  -moz-box-shadow: -1px -1px 41px -5px #e81515;
  box-shadow: -1px -1px 41px -5px #e81515; }
